.App {
  text-align: center;
}
body {
  background-image: url("https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/fcb36e8f-1bf0-4798-be15-1aab02921650/dfm36bk-09d8128d-f920-45ea-a2f8-bfd0bddafb28.png/v1/fill/w_1143,h_699/_render__makima___chainsaw_man_by_preludegfx_dfm36bk-pre.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTI4NCIsInBhdGgiOiJcL2ZcL2ZjYjM2ZThmLTFiZjAtNDc5OC1iZTE1LTFhYWIwMjkyMTY1MFwvZGZtMzZiay0wOWQ4MTI4ZC1mOTIwLTQ1ZWEtYTJmOC1iZmQwYmRkYWZiMjgucG5nIiwid2lkdGgiOiI8PTIwOTgifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6aW1hZ2Uub3BlcmF0aW9ucyJdfQ.ImhrpdZ26wSArPqwCARg6gOHIJ6khILTxawPs9Lh37Q");
  background-repeat: no-repeat;
  background-position: center top -10%;
  background-color: linear-gradient(to right, #b67e36, #41bb0d);;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(202, 67, 67);
}


.App-link {
  color: #309ebd;
}

.table-memberdisplay
{
 background-image: linear-gradient(-60deg,#16a085 0%,#70de26 19%,#39baa0 42%,#a02c2c 71%,); 
}
.abc{
 background-image: yellow; 
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
